.mt-5

p= @user.name
p= @user.email

.hoge style='height: 100px; background-color: red;'
p Paizaのメールアドレス
- if @user.paiza_email.nil? 
  p 未設定
p Paizaのパスワード
- if @user.paiza_password.nil?
  p 未設定

= link_to '編集', edit_user_registration_path, class: 'mr-3'
= link_to '削除', user_registration_path, method: :delete, data: { confirm: '本当にアカウントを削除しますか？' }