/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */
@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

.debug{
  border: 1px solid red;
}

.reset-padding{
  padding: 0 !important;
}

input:focus{
  box-shadow: none !important;
}

body{
  padding-top: 3.5rem;
  font-family: 'Noto Sans JP', sans-serif !important;
  background-color: #F3F4F8 !important;
}

.bg-my-white{
  background-color: #FAFBFC !important;
}

// Problems

.problem-index-wrapper{
  padding: 24px;
}

// Problem filter form
.problem-index-wrapper form{
  border-radius: 8px;
  padding: 16px;
  user-select: none;

  input[type=submit]{
    display: none;
  }

  select{
    direction: rtl;
    border: 1px solid lightgray !important;
  }

  option{
    background-color: #FAFBFC !important;
  }

  .filter-title{
    font-size: 18px;
    margin-bottom: 8px;
  }
}

// Problem Table

.problem-index-wrapper table{
  border-radius: 8px;
  th{
    user-select: none;
  }
}

.problem-index-wrapper tbody{
  border: none !important;
}

.table .problem th, .table .problem td{
  padding: 0.6rem;
  border: none;
}

table .wide-link{
  display: block;
  padding: 0.6rem;
}

table th:hover{
  cursor: pointer;
}

// Recommend
.progress-wrapper{
  padding-top: 24px;
}

// Pie charts
.pies-container{
  border-radius: 8px;
  padding: 16px;
}

// statistics table
.progress-wrapper{
  table {
    border-radius: 8px;
    padding: 16px;
  }
  table th, table td{
    padding: 0.6rem;
  }
}

// Pie charts container
.pies-container{
  border-radius: 8px;
  padding: 16px;
}